# dependencies
node_modules/

# build outputs
.next/
out/
dist/

# wrangler local state
.wrangler/

# env / secrets
.env*
!.env.example
.dev.vars
!.dev.vars.example

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
